@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #071321;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #071321;
    --foreground: #fff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "IBM Plex Sans Arabic", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, span, li, a {
  color: var(--foreground);
  transition: color 0.3s ease;
}

.dynamic-margin {
  margin-inline-start: 16rem;
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/* Ensure scrolling is still functional */
body {
  overflow-y: scroll;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

input[type="text"] {
  appearance: none; /* Remove default styles */
}

.chart-container {
  margin: 20px 0;
  padding: 0 20px;
}

.chart-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}